/* ---------------------Distination Section Start Here--------------------- */
@media screen and (max-width: 990px) {
    .distination .wrapper {
        flex-direction: column;
    }
    .distination .alpha {
        max-width: 100%;
        flex: 100%;
        width: 100%;
        margin: 0 -15px 30px;
    }
    .distination .content {
        margin-left: 0;
    }
}
@media screen and (max-width: 560px) {
    .distination .alpha {
        flex-direction: column;
    }
    .distination .second_items {
        margin-bottom: 30;
    }
    .distination .item {
        box-shadow: 0px 5px 16px 2px rgba(0, 0, 0, 0.25);
    }
    .distination .item_wrap {
        max-width: 100%;
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
    }
}
/* ---------------------Distination Section End Here--------------------- */
/* ---------------------Perfect Distination About Place Section Start Here-------------------- */
@media screen and (max-width: 1280px) {
    .place_distination .sub_wrapper {
        margin: 0 -8px 109px;
    }    
    .place_distination .image {
        margin: 0 8px;
    }
    .place_distination .distination_img {
        margin-right: 50px;
    }
}
@media screen and (max-width: 990px) {
    .place_distination .distination_img {
        margin-right: 30px;
    }
    .place_distination .distination_title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .place_distination .distination_text {
        font-size: 14px;
        margin-bottom: 24px;
    }
    /* ------------------slick slider css------------- */
    .place_distination .slide_img {
        display: none;
    }
    .place_distination .slick-list.draggable {
        overflow: hidden;
        display: flex;
    }
    .place_distination .slick-track {
        display: flex;
        align-items: center;
    }    
    .place_distination .wrapper {
        position: relative;
        overflow: hidden;
    }      
    .place_distination .image {
        margin: 0;
        height: 100%;
        max-width: 100%;
    }  
    .place_distination .sub_wrapper {
        margin: 0 0 109px;
    }    
    .place_distination .img_wrap {
        margin-top: 0 !important;
    }
    .place_distination .slick-slide.slick-current.slick-active.slick-center {
        max-width: 360px;
        flex: 360px;
        margin: 0 12px;
    }
    .place_distination .slick-slide.slick-cloned.slick-active,
    .place_distination .slick-slide.slick-active{
        max-width: 220px;
        flex: 220px;
        margin: 0 12px;
    }
    .place_distination .slide_container {
        position: relative;
        overflow: hidden;
    }
}
@media screen and (max-width: 767px) {
    .place_distination .distination_content {
        flex-direction: column;
        align-items: flex-start;
    }
    .place_distination .distination_img {
        max-width: 100%;
        margin: 0 0 30px;
    }
}
/* ---------------------Perfect Distination About Place Section End Here-------------------- */
/* ---------------------Perfect Distination Info for Place Section Start Here----------------- */
@media screen and (max-width: 767px) {
    .distination_info_sub-wrap {
        flex-direction: column;
    }
    .distination_info-alpha {
        max-width: 100%;
        width: 100%;
        margin: 0 0 30px;
    }
}
.place_distination .sub_wrapper {
    position: relative;
    margin: 0 -34px 109px;
}
.justify_space-between {
    justify-content: space-between;
}
.flex {
    display: flex;
}
.place_distination .image {
    max-width: 174px;
    height: 174px;
    border-radius: 50%;
    position: relative;
    margin: 0 34px;
}
.displayflex {
    display: flex;
    align-items: center;
    justify-content: center;
}




.place_distination {
    /* margin-bottom: 120px; */
    margin: 100px auto;
}
.place_distination .distination_head {
    text-align: center;
    margin-bottom: 46px;
}
.place_distination .text {
    font-size: 34px;
    line-height: 1;
    font-weight: 400;
    color: #0f3959;
    margin-bottom: 10px;
}
.place_distination .title {
    
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
}
.section-title {
    font-weight: 600;
    font-size: 28px;
    text-transform: capitalize;
}
.place_distination .image {
    max-width: 174px;
    height: 174px;
    border-radius: 50%;
    position: relative;
    margin: 0 34px;
}
.place_distination .img_content {
    position: absolute;
    text-align: center;
}
.place_distination .img_title {
    
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 17px;
    color: #ffffff;
}
.place_distination .img_text {
    
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.place_distination .sub_wrapper {
    position: relative;
    margin: 0 -34px 109px;
}
.place_distination .image1 {
    margin-top: 100px;
}
.place_distination .image2 {
   margin-top: 60px;
}
.place_distination .btn {
    max-width: 203px;
    text-align: center;
    background-color: #0f3959;
    border-radius: 6px;
}
.place_distination .btn a {
    
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    display: block;
    padding: 17px 0;
    color: #ffffff;
}
.place_distination .distination_title {
    
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 22px;
}
.place_distination .distination_text {
    
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 42px;
}
.place_distination .distination_about {
    color: #F2531D;
    font-size: 34px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 13px;
}
.place_distination .distination_img {
    max-width: 50%;
    flex: 50%;
    margin-right: 140px;
}

.place_distination .slide_img {
    display: none !important;
}
/* -------------------Perfect Distination About Place Section End Here------------------- */
/* ---------------------Perfect Distination Info for Place Section Start Here-------------------- */
.distination_info {
    margin-bottom: 61px;
}
.distination_info-head {
    text-align: center;
    margin-bottom: 44px;
}
.distination_info-text {
    font-size: 34px;
    line-height: 1;
    font-weight: 400;
    color: #F2531D;
    margin-bottom: 8px;
}
.distination_info-title {
    
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}
.distination_info-alpha {
    max-width: 50%;
    flex: 50%;
    margin-right: 18px;
}
.distination_info-beta {
    flex: 1;
}
.distination_info-img {
    margin-bottom: 24px;
}
.distination_info_alpha-wrap {
    margin-bottom: 7px;
}
.distination_info-insight {
    
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    background-color: #DB834E;
    color: #FFF;
    padding: 5px 14px;
    border-radius: 7px;
    margin-right: 14px;
}
.distination_info_alpha-icon {
    max-width: 15px;
    height: 16px;
    margin-right: 6px;
}
.distination_info_alpha-date {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #F2531D;
}
.distination_info_sub-title {
    
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 5px;
}
.distination_info_sub-text {
    
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: #999;
    max-width: 505px;
    display: inline-block;
}
.distination_info_item-wrap {
    border-bottom: 1px solid #999999;
    padding: 17px 0 16px;
}
.distination_info_item-wrap:first-child {
    padding-top: 0;
}
.distination_info_item-wrap:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.distination_info_item-img {
    max-width: 151px;
    margin-right: 28px;
}
.distination_info_item-icon {
    max-width: 15px;
    height: 16px;
    margin-right: 6px;
}
.distination_info_item_icon-wrap {
    margin-bottom: 6px;
}
.distination_info_item-content {
    max-width: 287px;
}
.distination_info_item-date {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #F2531D;
}
.distination_info_item-text {
    
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}